body,html{
	background-color: #FFFFFF;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	
	/*Por razones de UX*/
	-webkit-user-select: none;
    	-moz-user-select: none;
	-khtml-user-select: none;
    	-ms-user-select:none;
	

}

button{
	background-color: transparent;
	border:none;
	padding: 0px;
}

ul, li{
	list-style: none;
}

a{
	text-decoration: none;
}

.active{
	cursor: default;
	background-color: #22262E;
	border-left: 2px solid #f9b775;
}

.print{
	color: #0090D9;
	font-size:20px;
}
.print:hover{
	color: #0090D9
}


/*

Verde: B3E283;
Azul: a4b3d6;
Naranja: f9b775;
Rojo: ED8D84;

*/




/* = = = = = = = = = = = = = = = = = = = = = = 
                 SideBar Components
 = = = = = = = = = = = = = = = = = = = = = = = */

/*-------------------------------
           H E A D E R
---------------------------------*/
#headerSide{
	background-color:#22262E;
	height: 55px;
	line-height: 55px;
}

#headerSide > .logo{
	display: inline-block;
	margin: 0px 30px;
}

/*-------------------------------
      U S E R  P O R F I L E
---------------------------------*/
#userSide{
	text-align: center;
	padding: 30px;
	color: white;
}
#userSide > p{
	font-family: 'Open Sans';
}
#userSide > .nombre{
	font-weight:300;
	font-size: 16px;
}

#userSide > .matricula {
	color: #8F939E;
	margin: -10px;
	font-size: 12.5px;
}

/*-------------------------------
        N A V I G A T I O N
---------------------------------*/
#navSide{
	font-size: 14px;
	padding: 0px;
	margin:0px;

}

#navSide > li > p {
	margin: 0px;
	padding: 0px 13px;
	font-family: 'Open Sans';
	color:#8F939E;
}

#navSide > li > a {
	padding: 4px 13px;
	display:block;
	color: white
}

#navSide > li > a:hover {
	background-color: #22262E;
	text-decoration: none;
}

/*-------------------------------
          F O O T E R
---------------------------------*/
#footSide{
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom:0px;
	padding: 0px 15px;
	background-color: #22262E;
}

#footSide > .fastnav{
	text-align: center;
}

#footSide > .fastnav > a {
	margin: 0px 10px;
	display: inline;
	cursor: pointer;
	color: #5d5f60;
}

.btn:hover{
	color: white;
}






















/* = = = = = = = = = = = = = = = = = = = = = = 
               Page Content [Main]
 = = = = = = = = = = = = = = = = = = = = = = = */

/*-------------------------------
           H E A D E R
---------------------------------*/
#principalHeader{
	background-color: #FFFFFF;
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding: 0px 30px;
	position: relative;
}

#principalHeader > a{
	margin-right: 10px;
	color: #505458;
}

/* [MenuBars] */
#principalHeader > .menuBars{
	text-decoration: none;
	font-size: 20px;
	color: #505458;
}

/* [HomeBtn] */
#principalHeader > .homeBtn{
	text-decoration: none;
	font-size: 18.5px;
	color: #505458;
}

/* [emailBtn] */
#principalHeader > .emailBtn{
	text-decoration: none;
	font-size: 16.5px;
	color: #505458;
}




/* [UserPorfile] */
#principalHeader > .userInfo p, i, img{
	font-size: 13px;
	margin:0px;
	display: inline-block;
}
#principalHeader > .userInfo i {
	margin: 0px 10px 0px 3px;
	font-size: 10px;
}
#principalHeader > .userInfo .dropdown-menu{
	box-shadow: none;
	border:none;
	margin: 0px;
	border-radius: 0px;
	min-width: 180px;
}


/*-------------------------------
         L A N D I N G
---------------------------------*/

/* [Landing] */
#landing{
	padding: 15px 30px;
	width: 100%;
	background-color: #FFFFFF;
}
#landing > p > i{
	font-size: 11px;
}

#landing > div{
	margin: 100px auto 50px auto;
	clear: fixed;
}




#landing > div > h1{
clear: both;
}
#landing > div > p{
	max-width: 700px;
	margin:auto;
}

/*-------------------------------
          C O N T E N T
---------------------------------*/

.container-fluid{
	background-color: white;
	padding: 0px 30px 50px 30px;
                /*Margin BOTTON*/
}





/*CarreraForm*/
.container-fluid > .carreraForm{
	max-width: 1000px;
	margin: 0px auto 0px auto;
	padding: 2px;
	font-size: 16px;
	font-weight: 300;
}

.container-fluid > .carreraForm > .row [class*="col-"] {
	padding: 0px;
}

.container-fluid > .carreraForm > .row > div > h4 {
	margin: 2.8px;
}






/*HoriarioTable   /  planEstudioTable*/
.container-fluid > .tablas{
	max-width: 1000px;
	margin: 0px auto 0px auto;


}
.container-fluid > .tablas th{
	padding: 2px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;

}
.container-fluid > .tablas td{
	text-align: center;	
	font-size: 13px;

}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: #a4b3d6;
	color:white;
}

.table-hover > tr{
	background-color: #a4b3d6;
	color: white;
}




.cuadrado{
	margin-right: 10px;
	width: 15px;
	height: 15px;
	float: left;
}
.terminada{
	background-color: #a4b3d6;
	color: white;
}

.tomada{
	background-color: #ed8d84;
	color: white;
}




/*evaluacionText*/
.container-fluid > .evaluacionText{
	max-width: 800px;
	margin: 0px auto 0px auto;
}

.container-fluid > .evaluacionText > img{
	margin: 0px auto 35px auto;
	display: block;
}

.container-fluid > .evaluacionText p{
	text-align: justify;
}

.container-fluid > .evaluacionText a{
	text-decoration: none;
	text-align: center;
	width: 150px;
	height: 30px;
	line-height: 30px;
	background-color: #f9b775;
	color: white;
	display: block;
	margin: 35px auto;
}






/*-----------------------------------------------------------------------*/


/*Mobile*/
@media only screen and (max-width: 768px) {
	#landing > div{
		margin: 0px 0px 10px 0px;
	}
	#headerSide{
		display: none;
	}
}


/*-----------------------------------------------------------------------*/
